<div class="top-scroll">
    <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
</div>
<footer>
    <div class="row d-flex justify-content-around mb-4">
        <div>
            <img src="{{ asset('/images/brianclincy-type.png') }}" width="200" height="137" alt="Brian Clincy in words"
                 title="Brian Clincy logo">
        </div>
        <div><h3>Home</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ asset('/about') }}">About</a></li>
                <li><a href="{{ asset('/contact') }}">Contact</a></li>
                <li><a href="{{ asset('/nnuts') }}">NNUtS :: Podcast</a></li>
                <li><a href="{{ asset('/resume') }}">Hire Me :: Resume</a></li>
            </ul>
        </div>
        <div><h3>Network</h3>
            <ul>
                <li><a href="http://13lack.net">13lack Network</a></li>
                <li><a href="http://daonlinebiz.com">DaOnlineBiz</a></li>
                <li><a href="http://ibsporting.club ">iBSporting</a></li>
                <li><a href="http://muskegonareasports.com">Muskegon Area Sports</a></li>
                <li><a href="http://muskegonauctions.com">Muskegon Auctions</a></li>
                <li><a href="http://http://www.usaoassn.com/">USA Officials Associations</a></li>
            </ul>
        </div>
        <div><h3>Works</h3>
            <ul>
                <li><a href="{{ asset('/note') }}">Bee Notes</a></li>
                <li><a href="{{ asset('/community') }}">Community</a></li>
                <li><a href="{{ asset('/products') }}">Products</a></li>
                <li><a href="{{ asset('/services') }}">Services</a></li>
                <li><a href="{{ asset('/shoutouts') }}">Shoutouts</a></li>
            </ul>
        </div>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="text-center">
            <ul class="list-inline">
                <li class="list-inline-item m-3"><a href="http://www.facebook.com/brianclincy"><i
                                class="fa fa-facebook fa-3x"></a></i>
                </li>
                <li class="list-inline-item m-3"><a href="http://twitter.com/clincy"><i class="fa fa-twitter fa-3x"></a></i>
                </li>
                <li class="list-inline-item m-3"><a href="{{ base_url() }}/coaching"><i
                                class="fa fa-dribbble fa-3x"></i></a>
                </li>
            </ul>

            <hr>
            <p>Copyright &copy; BrianClincy.com {{ "now"|date("Y") }} All rights reserved </p>
        </div>
    </div>
</footer>
<div class="loadspinner"></div>