{% extends "layout.html.twig" %}
{% block css %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/gallery.css') }}">
{% endblock %}
{% block content %}
    <h1>Clincy's Gallery</h1>
    <p>My random pieces of image that get from my image hosting spots around the Internet from Flick,
        <a href="https://unsplash.com/@bclincy">Unsplash</a>, <a href="https://pexel.com/@bclincy">Pexel</a>
    </p>
    <section id="gallery" class="main-img">
        <div class="main-img text-center">
            <img src="https://images.pexels.com/photos/1356375/pexels-photo-1356375.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940" id="current" title="Brian Clincy" alt="Rebuilding Project"
                 class="animated">
        </div>

        <div class="rows imgs d-flex justify-content-between flex-wrap">
        {% for image in  img.0.images %}
                <img src="{{ base_url() }}{% if image.webpath  %}{{  image.webpath }} {% endif %}" alt="{{ image.altText }}" data-content="{{ image.imgUrl }}" {{ image.html |raw}} />
        {% endfor %}
        </div>
    </section>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script language="javascript" src="{{ asset('/js/gallery.js') }}"></script>
{% endblock %}